<a href="https://colab.research.google.com/github/JavDog/AyTD/blob/main/TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Levantamos el datset:
url='https://raw.githubusercontent.com/JavDog/AyTD/1f02c2e83068c677822c662a18fb6735bf9e6028/personas_beneficiarias.csv?token=GHSAT0AAAAAACC3543HLXT3QQVJFTTPMDFWZDICJFA'
df= pd.read_csv(url)
df

    provincia     tramo_edad     genero  personas_beneficiarias     edicion
0       Chaco        18 a 29   Femenino                     215  previaje 1
1       Chaco   30 a 44 años   Femenino                     478  previaje 1
2       Chaco   45 a 59 años   Femenino                     238  previaje 1
3       Chaco  60 años y más   Femenino                     103  previaje 1
4       Chaco        18 a 29  Masculino                     179  previaje 1
..        ...            ...        ...                     ...         ...
590   Tucumán        18 a 29  Masculino                     941  previaje 3
591   Tucumán   30 a 44 años  Masculino                    1658  previaje 3
592   Tucumán   45 a 59 años  Masculino                     923  previaje 3
593   Tucumán  60 años y más  Masculino                     650  previaje 3
594   Tucumán        18 a 29          X                       4  previaje 3

[595 rows x 5 columns]